$black:#000000;
$white:#ffffff;

$blacktwo:#010101;
$blackthree:#282828;
$blackfour:#303030;
$blackfive:#3f3f3f;
$blacksix:#2e2e2e;
$blacksevn:#1a1a1a;
$blackeight:#515151;

$grey:#5a5a5a;
$greyone:#322e58;
$greytwo:#3e396b;
$greythree:#6F6C8A;
$greyfour:#242424;
$greyfive:#cccccc;




$section-bg:#f2f2f2;
$section-bg2:#e7e7e7;
$section-bg3:#6A9CCC;




// $greythree:#f3f3f3;
// $greyfour:#666666;
// $greyfive:#e6e6e6;
// $greysix:#363636;
// $greyseven:#ebe9dd;
// $greyeight:#f8f9fb;
// $greynine:#e1e1e1;
// $greyten:#fafbfc;
// $greyeleven:#f4f6fa;
// $greytwelve:#e0dcdc;
// $greythirteen:#bfc0c1;
// $greyfourteen:#eaeaea;
// $greyfifteen:#eeeff0;
// $greysixteen:#d7dce1;
// $greyseventeen:#999999;



// $tab-inactive:#eee;
// $info:#a78343;
// $buttonHover:#e53410;

/* Brand Color's */
$brand-primary: #f75d34;
// $brand-accent:#15a8c2;
$brand-text:#24272c;
$brand-bg:#ffffff;
// $orangelight:#ff9900;
$brand-green:#4caf6b;

$brand-blue:#2378b0;

$brand-success:#2eae2e;
$brand-error:#ff1e3c;
$brand-error-opacity-30:rgba($brand-error,.30);


/* Font color's */
/*5a5a5a color variant*/
$grey-opacity-70:rgba($grey,.70);
$grey-opacity-30:rgba($grey,.30);

$black-opacity-10:rgba($black,.10);
$black-opacity-15:rgba($black,.15);
$black-opacity-30:rgba($black,.30);
$black-opacity-40:rgba($black,.40);
$black-opacity-50:rgba($black,.50);
$black-opacity-70:rgba($black,.70);
$black-opacity-87:rgba($black,.87);

$white-opacity-40:rgba($white,.40);
$white-opacity-15:rgba($white,.15);
$white-opacity-30:rgba($white,.30);
$white-opacity-50:rgba($white,.50);
$white-opacity-70:rgba($white,.70);
$white-opacity-80:rgba($white,.80);

// $blacktwo-opacity-50:rgba($blacktwo,.50);
// $blacktwo-opacity-70:rgba($blacktwo,.70);



$red:#c02425;
$redlight:#ff0200;
$green:#388E3C;
$yellow:#fedf50;
$darkyelow:#f2c34d;
$orange:#eb7f3f;
$rediobtn:#f75d33;
$bgradio:#f1f1f1;
$radio-border:#c1c1c1;
$alertbox:#ffefbb;
$alertborder:#ffbd00;
$skyblue:#2478AF;
$inputborder:#ababab;
$oslogray:#2478b7;
$barkblue:#0867a5;
$lightblue:#5298bb;