@import "../../base/include";
*{@include box-sizing (border-box);} 
*,::after, *::before {@include box-sizing (border-box);}
.fw_container{margin-right:$margin-auto;margin-left:$margin-auto;padding-left:$padding5*4;padding-right:$padding5*4;}
.fw_container-fluid{margin-right:$margin-auto;margin-left:$margin-auto; /*padding-left:$padding5*4;padding-right:$padding5*4;*/}
.fw_container_hold{padding-left:$padding5*4;padding-right:$padding5*4;}
.fw_row{margin-left: $margin0 - 10px;margin-right: $margin0 - 10px;}
.fw_col-xs-1,.fw_col-sm-1,.fw_col-md-1,.fw_col-lg-1,.fw_col-xs-2,.fw_col-sm-2,.fw_col-md-2,.fw_col-lg-2,.fw_col-xs-3,.fw_col-sm-3,.fw_col-md-3,.fw_col-lg-3,.fw_col-xs-4,.fw_col-sm-4,.fw_col-md-4,.fw_col-lg-4,.fw_col-xs-5,.fw_col-sm-5,.fw_col-md-5,.fw_col-lg-5,.fw_col-xs-6,.fw_col-sm-6,.fw_col-md-6,.fw_col-lg-6,.fw_col-xs-7,.fw_col-sm-7,.fw_col-md-7,.fw_col-lg-7,.fw_col-xs-8,.fw_col-sm-8,.fw_col-md-8,.fw_col-lg-8,.fw_col-xs-9,.fw_col-sm-9,.fw_col-md-9,.fw_col-lg-9,.fw_col-xs-10,.fw_col-sm-10,.fw_col-md-10,.fw_col-lg-10,.fw_col-xs-11,.fw_col-sm-11,.fw_col-md-11,.fw_col-lg-11,.fw_col-xs-12,.fw_col-sm-12,.fw_col-md-12,.fw_col-lg-12{position:$position-relative;min-height:1px;/*padding-left:$padding5*2;padding-right:$padding5*2;*/}
.fw_col-xs-1,.fw_col-xs-2,.fw_col-xs-3,.fw_col-xs-4,.fw_col-xs-5,.fw_col-xs-6,.fw_col-xs-7,.fw_col-xs-8,.fw_col-xs-9,.fw_col-xs-10,.fw_col-xs-11,.fw_col-xs-12{float:$float-left; padding-left: 10px; padding-right: 10px}
.fw_col-xs-12{width:100%;}
.fw_col-xs-11{width:91.66666667%;}
.fw_col-xs-10{width:83.33333333%;}
.fw_col-xs-9{width:75%;}
.fw_col-xs-8{width:66.66666667%;}
.fw_col-xs-7{width:58.33333333%;}
.fw_col-xs-6{width:50%;}
.fw_col-xs-5{width:41.66666667%;}
.fw_col-xs-4{width:33.33333333%;}
.fw_col-xs-3{width:25%;}
.fw_col-xs-2{width:16.66666667%;}
.fw_col-xs-1{width:8.33333333%;}
/*
.fw_col-xs-pull-12{right:100%;}
.fw_col-xs-pull-11{right:91.66666667%;}
.fw_col-xs-pull-10{right:83.33333333%;}
.fw_col-xs-pull-9{right:75%;}
.fw_col-xs-pull-8{right:66.66666667%;}
.fw_col-xs-pull-7{right:58.33333333%;}
.fw_col-xs-pull-6{right:50%;}
.fw_col-xs-pull-5{right:41.66666667%;}
.fw_col-xs-pull-4{right:33.33333333%;}
.fw_col-xs-pull-3{right:25%;}
.fw_col-xs-pull-2{right:16.66666667%;}
.fw_col-xs-pull-1{right:8.33333333%;}
.fw_col-xs-pull-0{right:auto;}
.fw_col-xs-push-12{left:100%;}
.fw_col-xs-push-11{left:91.66666667%;}
.fw_col-xs-push-10{left:83.33333333%;}
.fw_col-xs-push-9{left:75%;}
.fw_col-xs-push-8{left:66.66666667%;}
.fw_col-xs-push-7{left:58.33333333%;}
.fw_col-xs-push-6{left:50%;}
.fw_col-xs-push-5{left:41.66666667%;}
.fw_col-xs-push-4{left:33.33333333%;}
.fw_col-xs-push-3{left:25%;}
.fw_col-xs-push-2{left:16.66666667%;}
.fw_col-xs-push-1{left:8.33333333%;}
.fw_col-xs-push-0{left:auto;}
.fw_col-xs-offset-12{margin-left:100%;}
.fw_col-xs-offset-11{margin-left:91.66666667%;}
.fw_col-xs-offset-10{margin-left:83.33333333%;}
.fw_col-xs-offset-9{margin-left:75%;}
.fw_col-xs-offset-8{margin-left:66.66666667%;}
.fw_col-xs-offset-7{margin-left:58.33333333%;}
.fw_col-xs-offset-6{margin-left:50%;}
.fw_col-xs-offset-5{margin-left:41.66666667%;}
.fw_col-xs-offset-4{margin-left:33.33333333%;}
.fw_col-xs-offset-3{margin-left:25%;}
.fw_col-xs-offset-2{margin-left:16.66666667%;}
.fw_col-xs-offset-1{margin-left:8.33333333%;}
.fw_col-xs-offset-0{margin-left:0%;}*/
@include bp-small {
  .fw_container_hold{ padding: 0 }
  .fw_col-sm-1,.fw_col-sm-2,.fw_col-sm-3,.fw_col-sm-4,.fw_col-sm-5,.fw_col-sm-6,.fw_col-sm-7,.fw_col-sm-8,.fw_col-sm-9,.fw_col-sm-10,.fw_col-sm-11,.fw_col-sm-12{float:left;}
  .fw_col-sm-12{width:100%;}
  .fw_col-sm-11{width:91.66666667%;}
  .fw_col-sm-10{width:83.33333333%;}
  .fw_col-sm-9{width:75%;}
  .fw_col-sm-8{width:66.66666667%;}
  .fw_col-sm-7{width:58.33333333%;}
  .fw_col-sm-6{width:50%;}
  .fw_col-sm-5{width:41.66666667%;}
  .fw_col-sm-4{width:33.33333333%;}
  .fw_col-sm-3{width:25%;}
  .fw_col-sm-2{width:16.66666667%;}
  .fw_col-sm-1{width:8.33333333%;}
  /*.fw_col-sm-pull-12{right:100%;}
  .fw_col-sm-pull-11{right:91.66666667%;}
  .fw_col-sm-pull-10{right:83.33333333%;}
  .fw_col-sm-pull-9{right:75%;}
  .fw_col-sm-pull-8{right:66.66666667%;}
  .fw_col-sm-pull-7{right:58.33333333%;}
  .fw_col-sm-pull-6{right:50%;}
  .fw_col-sm-pull-5{right:41.66666667%;}
  .fw_col-sm-pull-4{right:33.33333333%;}
  .fw_col-sm-pull-3{right:25%;}
  .fw_col-sm-pull-2{right:16.66666667%;}
  .fw_col-sm-pull-1{right:8.33333333%;}
  .fw_col-sm-pull-0{right:auto;}
  .fw_col-sm-push-12{left:100%;}
  .fw_col-sm-push-11{left:91.66666667%;}
  .fw_col-sm-push-10{left:83.33333333%;}
  .fw_col-sm-push-9{left:75%;}
  .fw_col-sm-push-8{left:66.66666667%;}
  .fw_col-sm-push-7{left:58.33333333%;}
  .fw_col-sm-push-6{left:50%;}
  .fw_col-sm-push-5{left:41.66666667%;}
  .fw_col-sm-push-4{left:33.33333333%;}
  .fw_col-sm-push-3{left:25%;}
  .fw_col-sm-push-2{left:16.66666667%;}
  .fw_col-sm-push-1{left:8.33333333%;}
  .fw_col-sm-push-0{left:auto;}
  .fw_col-sm-offset-12{margin-left:100%;}
  .fw_col-sm-offset-11{margin-left:91.66666667%;}
  .fw_col-sm-offset-10{margin-left:83.33333333%;}
  .fw_col-sm-offset-9{margin-left:75%;}
  .fw_col-sm-offset-8{margin-left:66.66666667%;}
  .fw_col-sm-offset-7{margin-left:58.33333333%;}
  .fw_col-sm-offset-6{margin-left:50%;}
  .fw_col-sm-offset-5{margin-left:41.66666667%;}
  .fw_col-sm-offset-4{margin-left:33.33333333%;}
  .fw_col-sm-offset-3{margin-left:25%;}
  .fw_col-sm-offset-2{margin-left:16.66666667%;}
  .fw_col-sm-offset-1{margin-left:8.33333333%;}
  .fw_col-sm-offset-0{margin-left:0%;}*/
}
@include bp-medium{
  .fw_col-md-1,.fw_col-md-2,.fw_col-md-3,.fw_col-md-4,.fw_col-md-5,.fw_col-md-6,.fw_col-md-7,.fw_col-md-8,.fw_col-md-9,.fw_col-md-10,.fw_col-md-11,.fw_col-md-12{float:left;}
  .fw_col-md-12{width:100%;}
  .fw_col-md-11{width:91.66666667%;}
  .fw_col-md-10{width:83.33333333%;}
  .fw_col-md-9{width:75%;}
  .fw_col-md-8{width:66.66666667%;}
  .fw_col-md-7{width:58.33333333%;}
  .fw_col-md-6{width:50%;}
  .fw_col-md-5{width:41.66666667%;}
  .fw_col-md-4{width:33.33333333%;}
  .fw_col-md-3{width:25%;}
  .fw_col-md-2{width:16.66666667%;}
  .fw_col-md-1{width:8.33333333%;}
  /*.fw_col-md-pull-12{right:100%;}
  .fw_col-md-pull-11{right:91.66666667%;}
  .fw_col-md-pull-10{right:83.33333333%;}
  .fw_col-md-pull-9{right:75%;}
  .fw_col-md-pull-8{right:66.66666667%;}
  .fw_col-md-pull-7{right:58.33333333%;}
  .fw_col-md-pull-6{right:50%;}
  .fw_col-md-pull-5{right:41.66666667%;}
  .fw_col-md-pull-4{right:33.33333333%;}
  .fw_col-md-pull-3{right:25%;}
  .fw_col-md-pull-2{right:16.66666667%;}
  .fw_col-md-pull-1{right:8.33333333%;}
  .fw_col-md-pull-0{right:auto;}
  .fw_col-md-push-12{left:100%;}
  .fw_col-md-push-11{left:91.66666667%;}
  .fw_col-md-push-10{left:83.33333333%;}
  .fw_col-md-push-9{left:75%;}
  .fw_col-md-push-8{left:66.66666667%;}
  .fw_col-md-push-7{left:58.33333333%;}
  .fw_col-md-push-6{left:50%;}
  .fw_col-md-push-5{left:41.66666667%;}
  .fw_col-md-push-4{left:33.33333333%;}
  .fw_col-md-push-3{left:25%;}
  .fw_col-md-push-2{left:16.66666667%;}
  .fw_col-md-push-1{left:8.33333333%;}
  .fw_col-md-push-0{left:auto;}
  .fw_col-md-offset-12{margin-left:100%;}
  .fw_col-md-offset-11{margin-left:91.66666667%;}
  .fw_col-md-offset-10{margin-left:83.33333333%;}
  .fw_col-md-offset-9{margin-left:75%;}
  .fw_col-md-offset-8{margin-left:66.66666667%;}
  .fw_col-md-offset-7{margin-left:58.33333333%;}
  .fw_col-md-offset-6{margin-left:50%;}
  .fw_col-md-offset-5{margin-left:41.66666667%;}
  .fw_col-md-offset-4{margin-left:33.33333333%;}
  .fw_col-md-offset-3{margin-left:25%;}
  .fw_col-md-offset-2{margin-left:16.66666667%;}
  .fw_col-md-offset-1{margin-left:8.33333333%;}
  .fw_col-md-offset-0{margin-left:0%;}*/
}
@include bp-large {
  .fw_col-lg-1,.fw_col-lg-2,.fw_col-lg-3,.fw_col-lg-4,.fw_col-lg-5,.fw_col-lg-6,.fw_col-lg-7,.fw_col-lg-8,.fw_col-lg-9,.fw_col-lg-10,.fw_col-lg-11,.fw_col-lg-12{float:left;}
  .fw_col-lg-12{width:100%;}
  .fw_col-lg-11{width:91.66666667%;}
  .fw_col-lg-10{width:83.33333333%;}
  .fw_col-lg-9{width:75%;}
  .fw_col-lg-8{width:66.66666667%;}
  .fw_col-lg-7{width:58.33333333%;}
  .fw_col-lg-6{width:50%;}
  .fw_col-lg-5{width:41.66666667%;}
  .fw_col-lg-4{width:33.33333333%;}
  .fw_col-lg-3{width:25%;}
  .fw_col-lg-2{width:16.66666667%;}
  .fw_col-lg-1{width:8.33333333%;}
  /*.fw_col-lg-pull-12{right:100%;}
  .fw_col-lg-pull-11{right:91.66666667%;}
  .fw_col-lg-pull-10{right:83.33333333%;}
  .fw_col-lg-pull-9{right:75%;}
  .fw_col-lg-pull-8{right:66.66666667%;}
  .fw_col-lg-pull-7{right:58.33333333%;}
  .fw_col-lg-pull-6{right:50%;}
  .fw_col-lg-pull-5{right:41.66666667%;}
  .fw_col-lg-pull-4{right:33.33333333%;}
  .fw_col-lg-pull-3{right:25%;}
  .fw_col-lg-pull-2{right:16.66666667%;}
  .fw_col-lg-pull-1{right:8.33333333%;}
  .fw_col-lg-pull-0{right:auto;}
  .fw_col-lg-push-12{left:100%;}
  .fw_col-lg-push-11{left:91.66666667%;}
  .fw_col-lg-push-10{left:83.33333333%;}
  .fw_col-lg-push-9{left:75%;}
  .fw_col-lg-push-8{left:66.66666667%;}
  .fw_col-lg-push-7{left:58.33333333%;}
  .fw_col-lg-push-6{left:50%;}
  .fw_col-lg-push-5{left:41.66666667%;}
  .fw_col-lg-push-4{left:33.33333333%;}
  .fw_col-lg-push-3{left:25%;}
  .fw_col-lg-push-2{left:16.66666667%;}
  .fw_col-lg-push-1{left:8.33333333%;}
  .fw_col-lg-push-0{left:auto;}
  .fw_col-lg-offset-12{margin-left:100%;}
  .fw_col-lg-offset-11{margin-left:91.66666667%;}
  .fw_col-lg-offset-10{margin-left:83.33333333%;}
  .fw_col-lg-offset-9{margin-left:75%;}
  .fw_col-lg-offset-8{margin-left:66.66666667%;}
  .fw_col-lg-offset-7{margin-left:58.33333333%;}
  .fw_col-lg-offset-6{margin-left:50%;}
  .fw_col-lg-offset-5{margin-left:41.66666667%;}
  .fw_col-lg-offset-4{margin-left:33.33333333%;}
  .fw_col-lg-offset-3{margin-left:25%;}
  .fw_col-lg-offset-2{margin-left:16.66666667%;}
  .fw_col-lg-offset-1{margin-left:8.33333333%;}
  .fw_col-lg-offset-0{margin-left:0%;}*/
}
.clearfix:before,.clearfix:after,.fw_container:before,.fw_container:after,.fw_container-fluid:before,.fw_container-fluid:after,.fw_row:before,.fw_row:after{content:" ";display:table;}
.clearfix:after,.fw_container:after,.fw_container-fluid:after,.fw_row:after{clear:both;}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in grid */

/* Small devices (tablets, 768px and up) */
@include bp-small { 
.fw_container{ max-width:100%;max-width:768px; }
.fw_container{padding-left:$padding5*2;padding-right:$padding5*2;}
.fw_container-fluid{padding-left:$padding5*2;padding-right:$padding5*2;}
.fw_row{margin-left: $margin0 - 10px;margin-right: $margin0 - 10px;} 
.fw_col-xs-1,.fw_col-sm-1,.fw_col-md-1,.fw_col-lg-1,.fw_col-xs-2,.fw_col-sm-2,.fw_col-md-2,.fw_col-lg-2,.fw_col-xs-3,.fw_col-sm-3,.fw_col-md-3,.fw_col-lg-3,.fw_col-xs-4,.fw_col-sm-4,.fw_col-md-4,.fw_col-lg-4,.fw_col-xs-5,.fw_col-sm-5,.fw_col-md-5,.fw_col-lg-5,.fw_col-xs-6,.fw_col-sm-6,.fw_col-md-6,.fw_col-lg-6,.fw_col-xs-7,.fw_col-sm-7,.fw_col-md-7,.fw_col-lg-7,.fw_col-xs-8,.fw_col-sm-8,.fw_col-md-8,.fw_col-lg-8,.fw_col-xs-9,.fw_col-sm-9,.fw_col-md-9,.fw_col-lg-9,.fw_col-xs-10,.fw_col-sm-10,.fw_col-md-10,.fw_col-lg-10,.fw_col-xs-11,.fw_col-sm-11,.fw_col-md-11,.fw_col-lg-11,.fw_col-xs-12,.fw_col-sm-12,.fw_col-md-12,.fw_col-lg-12{padding-left:$padding5*2;padding-right:$padding5*2;}
}

/* Medium devices (desktops, 992px and up) */
@include bp-medium {
.fw_container{ max-width: 100%; max-width:992px;}

}

/* Large devices (large desktops, 1200px and up) */
@include bp-large {
  .fw_container{ width: 100%; max-width:1148px;}
}